body
  margin 0
  padding 0
  background-color #efefef
  font-size 14px
  font-family "微软雅黑"
.header
  height 35px
  line-height 35px
  background-color #fff
  margin-bottom 20px
.icon-back
  position absolute
  top 0
  left 0
  display  inline-block
  width 20px
  height 24px
  padding-top 6px
  padding-left  6px
.header_title
  width 100%
  display  inline-block
  font-weight bold
  letter-spacing 2px //字间距
  color #ed692b
  text-align center

//账号和密码
.form-list
  width 100%
  height 80px
.form-cell
  display flex
  height 40px
  line-height 40px
  background #ffffff
.form-cell-name
  display inline-block
  width 50px
  padding-left 40px
  background url("../imges/登录/content_ID_icon@2x.png") no-repeat left 10px center
  background-size 25% 50%
&.cell-password
  background url("../imges/登录/content_password_icon@2x.png") no-repeat left 10px center
  background-size 25% 50%

.form-cell-input
  flex 1
  height 38px
  border none
  outline none
//登录按钮
.bt_box
  height 40px
  padding 0 15px
  display -webkit-box
  display flex-box
  display flex
  margin-top 20px
.btn_login
  display block
  width 100%
  height 40px
  border none
  border-radius 5px
  background-color #ed692b
  color #ffffff
  font-size 1.1rem
  line-height 10px
//注册、忘记密码
.bt_register
  flex 1
  color #ed692b
  padding-left 10px
.bt_passwd
  flex 1
  padding-right 10px
  text-align right
  color #7a7a7c