body
  background-color #efefef
  padding 0
  margin 0
  font-family Roboto
//头部
.tab_box
  background-color #ffffff
  padding 2px 0
/* position  fixed!important
 width  100%
 left  0
 top  0*/
.tab_bar
  position relative
  display flex
  width 80%
  height 30px
  margin 10px auto
  padding 0
  list-style none
  border-radius 5px
  border 1px solid #ff6666
  color #ff6666
.tab_bar-cell
  flex 1
  line-height 30px
  text-align center
  &:after
    content ""
    display block
    width 1px
    height 30px
    position absolute
    top 0
    background-color  #ff6666

  &:first-child:after
    content ""
    display none

  &:active
    background-color #ff6666
    color white
//信息
.inform
  display none
.massage
  display none

.demand_cells
  padding 10px 6px 0
.demand_cell
  width 100%
  min-height 100px
  border-radius 5px
  box-shadow 0 0 1px 1px #e0e0e0
  background-color #ffffff
.demand-title
  padding 10px
  display flex
  border-bottom 1px solid #e0e0e0
.d-t-name
  font-weight bold
  font-size 14px
  flex 1

.d-t-tag
  display inline-flex
  padding 4px 8px
  font-style normal
  font-size 12px
  background green
  color #ffffff
  border-radius 5px

.text-time
  flex 1
  font-style normal
  text-align right
  font-size .8rem
//
.demand-info
  font-size 12px
  text-indent 1em
  padding 10px
  margin 0
  line-height 1.2em
//
.btn-detail
  text-align center
  //padding 0 6px

.demand-footer
  display flex
  height 30px
  line-height 30px
  padding  10px
.demandxx
  width 100px
  height 30px
  text-align center
  color #999988
  border 1px solid #ececec
  border-radius 5px
  background-color #efefef
.text-time
  flex 1
  font-style normal
  text-align right
  font-size .8rem
