<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1,minimun-scale=1,user-scable=no">
	<title>项目</title>
	<link rel="stylesheet" href="../../public/css/home1.css">
</head>
<body>
	<div class="logo">
		<img src="../../public/imges/登录/home.png" alt="">
	</div>
	<div class="copy">Copyright@2016</div>

	<script>

	var win=setTimeout(function(){
		location.href="content1.html";
	},3000);
	window.onload = win;

	</script>
</body>
</html>