@import url("../header.css");
body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
}
.header {
  display: -webkit-flex;
  display: flex;
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  margin-bottom: 20px;
}
.icon-back {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 24px;
  padding-top: 6px;
  padding-left: 6px;
}
.header_title {
  width: 100%;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ed692b;
  text-align: center;
}
.header_centent {
  position: absolute;
  right: 10px;
  font-size: 12px;
}
.about_bg {
  width: 100%;
  text-align: center;
}
.about_logo {
  line-height: 40px;
}
.text {
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 24%;
}
.set_demand {
  margin-top: 10px;
  height: 50px;
  line-height: 50px;
  background: #fff;
  padding-left: 10px;
}
.set_demand .set_jiantou {
  display: inline-block;
  float: right;
  margin-top: 15px;
  width: 20px;
  height: 20px;
  background-size: contain;
}
.set_demand .set_jiantou1 {
  display: inline-block;
  float: right;
  width: 140px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  background-size: 12px;
  color: #979797;
}
