<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1,minimun-scale=1,user-scable=no">
	<title>项目</title>
	<link rel="stylesheet" href="../../public/css/firstpage.css">
</head>
<body>

	<header>
		<i class="icon-back">上海</i>
		<span class="header_title">项目名</span>
	</header>
	<!--搜索-->
	<div class="seach_box">
		<div class="search_input"><span>挑好房，上项目</span></div>
	</div>
	<!---->
	<div class="slider_box">
		<div class="slider_container">
			<div class="slider_block"></div>
		</div>
		<div class="pint_box">
			<div class="pint_block"></div>
		</div>
	</div>
	<!--筛选-->
	<div class="query_box">
		<div class="query_block"><span>面积</span><i class="icon"></i></div>
		<div class="query_block"><span>单价</span><i class="icon"></i></div>
		<div class="query_block"><span>更多</span><i class="icon"></i></div>
		<div class="query_pice"><i class="icon"></i></div>
	</div>
	<article>
		<section>

		</section>
	</article>

</body>
</html>